$white: #fff;
$blue: #6f81d8;
$light-blue: #d3d6e2;
$light-blue1: #2e78d4;
$light-blue2: #b8bcce;
$blue5: #193456;
$blue6: rgba(18, 38, 63, 0.5);
$blue7: rgba(21, 46, 77, 0.5);
$grey: #ccc;
$grey1: #d6d6d6;
$red: #e63757;